SECRET_KEY=changeme-50-chars-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FERNET_KEY=changeme-44-chars-base64==========================
DOMAIN=fedow.yourdomain.com
STRIPE_TEST=1
STRIPE_KEY_TEST=sk_test_changeme
TEST=0
DEBUG=0
